<h1>Three Month Job Projection</h1>
<div id = "department_info_proj">
    <%= render "home/department_info_proj" %>
</div>
<div id = "reduce_info">
    <%= render "home/reduce_info" %>
</div>
<div id= "projection_tables">
    <%= render "home/projection_tables" %>
</div>