<p id="notice"><%= notice %></p>

<h1>Listing Scope Times</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Scope</th>
      <th>Week</th>
      <th>Hours</th>
      <th>Completion Rate</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody id="times_list">
    <%= render "scope_times/times_list" %>
  </tbody>
</table>

<br>

<div id="new_scope_time_link">
  <%= render 'new_scope_time_link'%>
</div>

<%# link_to(new_scope_time_path, id: 'new_scope_time_link', class: 'button tiny radius', remote: true) do %>
  <!--Add New Scope Time Now-->
<%# end %>

<br>
